{
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "singleQuote": true,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "stylelintIntegration": true,
  "eslintIntegration": true
}
